/*========= ESTILOS GERAIS ========*/
body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    transition: background-color 0.5s ease-in-out; /* Animação suave na mudança de cor */
}

.container {
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

#corAtual {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

#outrosFormatos {
    color: #777;
    margin-bottom: 15px;
    font-size: 0.9em;
}

button {
    background-color: #673ab7;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #512da8;
}

button:nth-child(3) { /* Botão de copiar */
    background-color: #28a745;
}

button:nth-child(3):hover {
    background-color: #218838;
}

/*========= ESTILOS DA ÁREA DE SLIDERS ========*/
.sliders-area {
    margin-top: 20px;
    text-align: left;
}

.sliders-area h2 {
    color: #333;
    font-size: 1.1em;
    margin-bottom: 10px;
    text-align: center;
}

.slider-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.slider-group label {
    width: 80px;
    margin-right: 10px;
    color: #555;
    font-size: 0.9em;
}

.slider-group input[type="range"] {
    flex-grow: 1;
}

.slider-group span {
    width: 30px;
    text-align: right;
    margin-left: 10px;
    color: #777;
    font-size: 0.9em;
}

/*========= ESTILOS DO LINK DE VOLTAR ========*/
.voltar-inicio {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;
    background-color: #6c757d;
    border-radius: 5px;
    margin-top: 20px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.voltar-inicio:hover {
    background-color: #5a6268;
}